<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hackeurope26" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Hackeurope26">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_path('logo.png') %>" type="image/png">
    <link rel="apple-touch-icon" href="<%= asset_path('logo.png') %>">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? || alert.present? %>
      <div class="flash-wrap">
        <% if notice.present? %>
          <p class="flash flash--notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="flash flash--alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
